.inventory_section {
  display: grid;
  grid-template-columns: repeat(2,50%);
  width: 100%;
  height: 100%;
  padding: 15px;
  &_list {
    background-color: #d3d3d3;
    width: 90%;
    height: 90%;

    &_name {
      font-size: 1.5rem;
      font-weight: bold;
      width: 100%;
      text-align: center;
      padding: 10px 0;
      background-color: #11101d;
      color: white;
    }
    &_items {
      width: 100%;
      display: flex;
      flex-direction: column;

    }
    &_item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      &_name {

      }

      &_numbers {
        width:20%;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.items_border {
  border: 1px solid #C80000;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}